body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1197px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:615px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:145px;
  height:615px;
}
#u504_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1097px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:1097px;
  height:56px;
}
#u505_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:237px;
  width:76px;
  height:16px;
}
#u506_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:1116px;
  top:120px;
  width:54px;
  height:16px;
}
#u507_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:268px;
  width:43px;
  height:16px;
}
#u508_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:294px;
  width:56px;
  height:16px;
}
#u509_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:327px;
  width:79px;
  height:16px;
}
#u510_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1098px;
  height:2px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:798px;
  width:1097px;
  height:1px;
}
#u511_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:173px;
  width:80px;
  height:20px;
}
#u512_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:203px;
  width:62px;
  height:16px;
  font-size:14px;
}
#u513_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:265px;
  width:91px;
  height:28px;
}
#u514_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
